<section class="mat-typography">
  <div class="jumbotron d-flex align-items-center justify-content-center text-center">
    <div class="hero">
      <h1 class="mat-display-3">Recipe Vault</h1>
      <p class="mat-subheading-2">Find the latest and greatest recipes, or create your own and share with the world.</p>
      <a mat-raised-button color="accent" [routerLinkActive]="['link-active']" [routerLink]="['/register']">Sign Up Today!</a>
    </div>
  </div>
</section>

<hr />

<section class="mat-typography text-center pt-5 pb-5" id="about">
  <div class="container">
    <h1>What is Recipe Vault?</h1>
    <div class="row">
      <div class="col-12 col-sm-6 my-auto">
        <p class="mat-subheading-1 text-justify">
          Recipe Vault is your solution for creating, finding, and sharing cooking recipes.  Through our easy-to-use
          interface, you can sign up for an account, then you're off exploring our vast collection of recipes, or
          contributing your own!
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <img class="about-image" src="assets/images/chef.svg" />
      </div>
    </div>
  </div>
</section>

<hr />

<section class="mat-typography text-center pt-5 pb-5" id="features">
  <div class="container">
    <h1>Features</h1>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <mat-card>
          <i class="material-icons">supervisor_account</i>
          <mat-card-title>Share</mat-card-title>
          <mat-card-content>Have a great recipe? Well now you can share it with all of your friends and family.</mat-card-content>
        </mat-card><br />
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <mat-card>
          <i class="material-icons">search</i>
          <mat-card-title>Search</mat-card-title>
          <mat-card-content>Search through our global database of recipes to find exactly what you're looking for.</mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <mat-card>
          <i class="material-icons">create</i>
          <mat-card-title>Create</mat-card-title>
          <mat-card-content>Create your masterpiece recipe, and share it with the world!</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
