<mat-card *ngIf="currentRecipe">
  <mat-card-title>{{currentRecipe.title}}</mat-card-title>
  <a *ngIf="ownsRecipe" [routerLink]="['/edit-recipe', currentRecipe.recipeID]" mat-raised-button color="accent">Edit Recipe</a>&nbsp;&nbsp;
  <a *ngIf="ownsRecipe" (click)="deleteRecipe(currentRecipe.recipeID)" mat-raised-button color="primary">Delete Recipe</a>
  <br /><br />
  <img *ngIf="currentRecipe.pictureURL" src="{{currentRecipe.pictureURL}}" height="200" width="200" />
  <mat-card-subtitle *ngIf="!currentRecipe.pictureURL">No Photo</mat-card-subtitle>
  <hr />
  <h2>Ingredients</h2>
  <p>{{currentRecipe.ingredients}}</p>
  <br />
  <h2>Directions</h2>
  <p>{{currentRecipe.directions}}</p>

</mat-card>
<br />
<mat-card *ngIf="currentUser" style="width: 25%;">
  <mat-card-title>Share Recipe</mat-card-title>
  <mat-card-subtitle>Enter your friend's username to share this recipe with them.</mat-card-subtitle>
  <form>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput value="" [(ngModel)]="sharedUsername" name="sharedUsername">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="submitShare()">Share!</button><br />
    <p *ngIf="message" class="text-success"><br />{{message}}</p>
    <p *ngIf="error" class="text-danger"><br />{{error}}</p>
  </form>
</mat-card>
