<header>
  <mat-toolbar color="primary">
    <a class="navbar-brand d-none d-sm-block" mat-button [routerLink]="['/']">Recipe Vault</a>

    <div class="spacer">
    </div>

    <div class="nav-links">
      <a *ngIf="currentUser" mat-button [routerLinkActive]="['link-active']" [routerLink]="['/dashboard']">Home</a>
      <a mat-button [routerLink]="['/recipes']">Recipes</a>
      <a *ngIf="currentUser" mat-button [routerLink]="['/add-recipe']">Add Recipe</a>
      <a *ngIf="!currentUser" mat-button [routerLink]="['/register']">Register</a>
      <a *ngIf="!currentUser" mat-raised-button color="accent" [routerLink]="['/login']">Login</a>
      <a *ngIf="currentUser" mat-raised-button color="accent" (click)="logout()">Logout</a>
      <!-- <a *ngIf="currentUser" class="d-none d-sm-block" mat-button>Logged in as: {{currentUser.username}}</a>-->
    </div>

  </mat-toolbar>
</header>
