<header>
  <mat-toolbar color="primary">
    <a class="navbar-brand" mat-button [routerLink]="['/']">Recipe Vault</a>

    <div class="spacer">
    </div>

    <div class="nav-links">
      <a mat-button [routerLinkActive]="['link-active']" [routerLink]="['/']">Home</a>
      <a *ngIf="!currentUser" mat-button [routerLink]="['/register']">Register</a>
      <a *ngIf="!currentUser" mat-button [routerLink]="['/login']">Login</a>
      <a *ngIf="currentUser" mat-button [routerLink]="['/logout']" (click)="logout()">Logout</a>
    </div>

  </mat-toolbar>
</header>
